*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
}

.input {
  display: flex;
  height: 44px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 24px;
  border: 1px solid #dfe1e5;
  width: 630px;
  max-width: 584px;
}

.wrapper {
  position: relative;
}

.wrapper span {
  position: absolute;
  left: 29.7%;
  top: 12px;
}

.icon {
  color: #9aa0a6;
  display: inline-block;
  fill: currentColor;
}

.h1-header {
  font-size: 90px;
  color: blue;
  font-family: garamond;
  font-weight: bold;
}

.search-btn,
.nav-btn {
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  font-family: Roboto, arial, sans-serif;
  font-size: 14px;
  padding: 0 16px;
  height: 36px;
}

.search-btn {
  margin: 30px 4px 11px 4px;
}
.nav-btn {
  margin: 11px 4px;
}

.ad-header {
  margin: 18px;
  font-size: 25px;
  color: blue;
}

.asbar {
  color: #d93025;
  font-size: 20px;
  margin: 35px 35px 30px 35px;
}

.asbar-line {
  border-bottom: 1px solid #ebebeb;
}

.adv-search-cont {
  margin: 50px 40px;
}

.adv-search-cont .find-label {
  display: inline-block;
  width: 16%;
  font-size: 17px;
}

.adv-search-cont .form-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 0;
}

.adv-search-cont .form-group label {
  width: 16%;
  font-size: 13px;
}

.adv-search-cont .form-group input[type="text"] {
  width: 49%;
  padding: 2px 0;
}

.more {
  font-size: 11px;
  width: 30%;
  margin-left: 1%;
}

.adv-search-cont .form-group .more .monospace {
  font-family: monospace;
}

.adv-search-cont .form-group .right-align {
  width: 50%;
}

input[type="submit"]:hover {
  /* Add box-shadow when hovering button (border adds space) */
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
}
input.adv-search-btn {
  background-color: dodgerblue;
  color: white;
  font-size: 11px;
  max-width: 200px;
  user-select: none;
  line-height: 100%;
  height: 30px;
  min-width: 120px;
  border-radius: 1px;
  border: 1px solid #156bbd;
  float: right;
  padding: 10px 2px;
  margin: 0;
}

.flex-labels {
  display: flex;
  justify-content: space-between;
  width: 77%;
}

.to-do-label {
  display: inline-block;
  position: relative;
  font-size: 12px;
  font-weight: bold;
  align-self: flex-end;
}
