*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
}

.input {
    display: flex;
    height: 44px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    width: 630px;
    max-width: 584px;
}

.wrapper {
    position: relative;
}

.wrapper span {
    position: absolute;
    left: 29.7%;
    top: 12px;
}

.icon {
    color: #9aa0a6;
    display: inline-block;
    fill: currentColor;
}

.h1-header {
    font-size: 100px;
    color: blue;
    font-family: garamond;
    font-weight: bold;

}

.search-btn, .nav-btn {
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
    padding: 0 16px;
    height: 36px;
}

.search-btn {
    margin: 30px 4px 11px 4px;
}
.nav-btn {
    margin: 11px 4px;
}